@{
    ViewBag.Title = "Home Page";
}

<h1>Crowd sourced avalaunche buletin</h1>

@model List<AvalancheAllerts.Web.ViewModels.Organisation.OrganisationSelectListModel>

    @*<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="~/Scripts/lib/jquery.multisellect.js"></script>*@
    <h2 class="text-danger">The informarion is provided as is without any guarantee</h2>
    <p>The information is maintained by volunteers. It is not an official avalaunche buletin. Please check the official avalaunche buletin for uoyr resort if there is one.</p>
    <div class="row">
        @using (Ajax.BeginForm("Filter", "Tests",  null, new AjaxOptions { OnSuccess = "updateMap", HttpMethod = "POST" }, new { @class = "form-horizontal", role = "form" }))
        {
        @Html.Label("radius", "Search radius in km.")
        @Html.Editor("radius", new { htmlAttributes = new { @class = "form-control", @Value = "50" } })
        @Html.Label("organisations", "Shown organisations")
        @Html.DropDownList("organisations", new MultiSelectList(Model, "Id", "Name", Model.Select(m => m.Id)), new { multiple = "multiple", @class = "selectpicker", @data_actions_box = "true" })

        @Html.Hidden("lat")
        @Html.Hidden("lon")

        <div class="form-group">
            <input id="filter" type="submit" value="Filter" class="btn btn-default" />
        </div>
        }

        @Html.Partial("_TestsMapView")

        <script type="text/javascript">
            /*$(function () {
                $("#organisations").multiselect();
            });*/

            var map;
            var leafletMap = leafletMap();
            var controlSearch;

            $(document).ready(function() {
                map = leafletMap.initMap('map');
                controlSearch = leafletMap.initSearch(map);

                var radius = $('#radius').val();

                map.locate({
                    setView: false,
                    maxZoom: 16
                });

                function onLocationFound(e) {
                    ShowNearby(radius, e);
                }

                function onLocationError(e) {
                    $.getJSON("/Tests/GetAll", null, function(data) {
                        leafletMap.onData(data);
                    });
                }

                map.once('locationfound', onLocationFound);
                map.once('locationerror', onLocationError);

                controlSearch.on('search_locationfound', function(e) {
                    ShowNearby(radius, e);
                });
            });

            function ShowNearby(radius, e) {
                $('#lat').val(e.latlng.lat);
                $('#lon').val(e.latlng.lng);

                var request = { lat: e.latlng.lat, lon: e.latlng.lng, radius: radius }
                $.getJSON("/Tests/Nearby", request, function(data) {
                    updateMap(data);
                });
            }

            function updateMap(data) {
                var position = {
                    Latitude: $('#lat').val(),
                    Longitude: $('#lon').val()
                }

                data.push(position);
                leafletMap.onData(data);
            }
        </script>
    </div>
