@model AvalancheAllerts.Web.ViewModels.Organisation.OrganisationDetailsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <p>@Html.DisplayFor(model => model.Description)</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        @*TODO: print tests*@
    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Owner)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    | @Ajax.ActionLink("Join", "Join", new { id = Model.Id }, new AjaxOptions()
 {
     UpdateTargetId = "results",
     InsertionMode = InsertionMode.Replace,
     HttpMethod = "POST",

 }, new { id = "join" })
    | @Html.ActionLink("Back to List", "Index")
</p>

<h2>Users</h2>

<div id="results">
    @Html.Action("GetUsers", new {id=Model.Id})
</div>
