@using AvalancheAllerts.Common
@model AvalancheAllerts.Web.ViewModels.Generic.ItemsPageModel<AvalancheAllerts.Web.ViewModels.Organisation.OrganisationViewModel>

@{
    ViewBag.Title = "Organisations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_OrganisationsTable", Model.Items)
@*@Html.DisplayForModel("OrganisationViewModel", Model.Items)*@
<nav>
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li>
                <a href="@Url.Action("Index", new{page=Model.CurrentPage - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var className = string.Empty;
            if (Model.CurrentPage == i)
            {
                className = "active";
            }
            <li class="@className"><a href="@Url.Action("Index", new{page=i })">@i</a></li>
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li>
                <a href="@Url.Action("Index", new{page=Model.CurrentPage + 1 })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>
